.dashboard-card{
    padding: var(--bbj-space-m);
    margin: var(--bbj-space-m) 0;
    border: thin solid var(--bbj-color-default);
    border-radius: var(--bbj-border-radius-m);
    background-color: var(--bbj-surface-3);
}

.dashboard-content{
    max-width: 600px;
    margin: 0 auto; 
}